    {% load static %}
    <!-- Footer-->
    <footer class="py-5 bg-dark">
        <div class="container">
            <div class="row mt-2" id="footer-text">
                <div class="col-1 mt-2">
                    <img width="100" src="{% static 'shoppingmall/images/landing_logo2.jpg' %}">
                </div>
                <div class="col-3">
                    <p class="m-0 text-white">상호명: 캐릭터토이(주)</p>
                    <p class="m-0 text-white">서울시 송파구 송파대로</p>
                    <p class="m-0 text-white">365 고객센터 |</p>
                    <h4 class="ml-3 text-white">1234-1234</h4>
                </div>
                <div class="col-5 mt-5">
                    <p class="text-center text-white">Copyright &copy; Jo Mi Jeong. All rights reserved</p>
                </div>
            </div>
        </div>

    </footer>