{% extends 'shoppingmall/base.html' %}

{% block main_area %}
                {% if user.is_authenticated %}
                    {% if user.is_superuser or user.is_staff %}
                        <a id="create-button" class="btn btn-info float-right" href="/shopping/create_toy" role="button">
                            <i class="fas fa-pen">New Post</i>
                        </a>
                    {% endif %}
                {% endif %}
                <h2 id="toy-list-title" class="mt-3">Toys
                    <!--{% if search_info %}
                      <span class="badge badge-warning">{{search_info}}</span>
                    {% endif %}-->
                    {% if category %}
                    : <span class="badge badge-dark">{{category}} ({{category.toy_set.count}})</span>
                    {% endif %}
                    {% if material %}
                    : <span class="badge badge-light">
                        <i class="fas fa-tag">{{material}} ({{material.toy_set.count}})</i>
                      </span>
                    {% endif %}
                </h2>
                <!-- Featured blog post-->
                {% if toy_list.exists %}
                    <div class="row">
                        {% for t in toy_list %}  <!-- 템플릿 문법 -->

                        <div class="col-md-4">
                            <div class="card mb-4" id="post-{{t.pk}}">
                                {% if t.head_image %}  <!-- 이미지가 있으면 -->
                                <a href="{{t.get_absolute_url}}"><img class="card-img-top" src="{{t.head_image.url}}" alt="{{t}}의 head_image" /></a>
                                {% else %}   <!-- 이미지가 없으면 랜덤 이미지 출력 -->
                                <a href="{{t.get_absolute_url}}"><img class="card-img-top" src="https://picsum.photos/seed/{{t.pk}}/800/200" alt="random image" /></a>
                                {% endif %}
                                <div class="card-body">
                                    {% if t.category %}
                                        <span class="badge badge-dark float-center">
                                            <a href="{{t.category.get_absolute_url}}" style="color:white">
                                                <i class="fa-solid fa-star">{{t.category}}</i>
                                            </a>
                                        </span>
                                    {% else %}
                                        <span class="badge badge-dark float-center">
                                            <a href="/shopping/category/no_category/">
                                                미분류
                                            </a>
                                        </span>
                                    {% endif %}
                                    <h5 class="card-title">{{t.title | upper}}</h5>  <!-- 템플릿 필터: upper 영어의 경우 대문자로-->
                                    {% if t.hook_text %}
                                    <h6 class="text-muted"> {{t.hook_text}} </h6>
                                    {% endif %}
                                    <br>
                                    <!-- 재질 해시태그로 출력 -->
                                    {% if t.material.exists %}
                                        {% for t in t.material.iterator %}
                                            <span class="badge badge-pill badge-light">
                                                <a href="{{t.get_absolute_url}}" style="color:black">
                                                    <i class="fas fa-tag">{{t}}</i>
                                                </a>
                                            </span>
                                        {% endfor %}
                                    {% endif %}
                                    <br><br>
                                    <h5 style="color:rgb(153,0,0); text-align:right"><strong>{{t.price}}</strong>원</h5>
                                </div>
                                <div class="card-footer">
                                    <div class="small text-muted">{{t.created_at | date:"Y-m-d h:m:s"}}</div>

                                    <a href="{{t.maker.get_absolute_url}}">by {{t.maker | upper}}</a>

                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                {% else %}
                <h5>아직 게시물이 없습니다.</h5>
                {% endif %}

                <!-- Pagination 페이지 목록 -->
                {% if is_paginated %}                <!-- 포스트 수가 많을 때-->
                <nav aria-label="Pagination">
                    <hr class="my-0" />
                    <ul class="pagination justify-content-center my-4">
                        {% if page_obj.has_previous %}          <!-- 이전 페이지 목록(page_obj)이 있다면 -->
                            <li class="page-item"><a class="page-link" href="?page={{page_obj.previous_page_number}}" tabindex="-1" aria-disabled="true">이전</a></li>
                        {% else %}                              <!-- 이전 페이지 목록이 없으면 이전 페이지로 가는 링크 disabled -->
                            <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">이전</a></li>
                        {% endif %}

                        {% if page_obj.has_next %}              <!-- 다음 페이지 목록이 있다면 -->
                            <li class="page-item"><a class="page-link" href="?page={{page_obj.next_page_number}}">다음</a></li>
                        {% else %}
                            <li class="page-item disabled"><a class="page-link" href="#!">다음</a></li>
                        {% endif %}
                    </ul>
                </nav>
                {% endif %}
{% endblock %}